.notificaciones_container{
    padding: 1rem;
    position: relative;
    margin: 1rem 2rem;
    border-radius: 0 8px 8px 0;
    p,a{
        font-size: 14px;
        line-height: 22px;
        width: 90%;
    }
    .icon{
        position: absolute;
        top: -.8rem;
        right: -.8rem;
        width: auto;
        height: auto;
        img{
        width: 32px;
        height: auto;
}
    }
}