.fixed_container{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    box-shadow: 0px 0px 50px #DAE1EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 2rem;
    z-index: 99999;
    button{
        height: fit-content;  
        img{
        width: 18px;
        height: 12.73px;
        cursor: pointer;
        margin: 0;
    }
    }
}

.green_button{
    background-color: #00CB45;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
}

.grey{
    background-color: #000000;
    opacity: 0.3;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
}

.container{
    .header{
        position: fixed;
        width: 100vw;
        top: 0;
        height:174px;
        border-radius: 0;
        background-color: #2E83F8;
        padding: 2rem;
        margin-bottom: 1rem;
        z-index: 999999;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        h2,p{
            color: white;
        }
        p{
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 1px;
        }
        h2{
            margin-top: .5rem;
            font-size: 20px;
            font-weight: 400;
            line-height: 23px; 
        }
        img{
            height: 36px;
            width: auto;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
    .form_content{
        margin-top: 55%;
    }
    .legal_container{
        margin-top: 11rem;
        padding: 2rem;
        .grey_text{
            opacity: 0.5;
            font-size: 16px;
            line-height: 25.5px;
            font-weight: 400;
        }
        h5{
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 16px;
            line-height: 28.8px;
            font-weight: 700;
        }
        p{
            font-size: 16px;
            line-height: 28.8px;
            font-weight: 400;
        }
    }
    .content{
        padding: 2rem;
        padding-top: 0;
        margin-top: 11rem;
        h3{
            color: #0057FF;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            padding-top: 2rem;
        }
        p{
            padding: 1rem 0;
            padding-top: 2rem;
            line-height: 28.8px;
            font-size: 16px;
            font-weight: 400;
        }
        .lastCheckbox{
            margin: 1rem 0;
        }
    }
    .input{
        margin: 0 auto;
        width: 90% !important;
    }
}

.success_container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img{
        width: 86px;
    }
    h3{
        width: 80%;
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 18px;
        font-weight: 700;
        line-height: 25.2px;
    }
    p{
        width: 80%;
        line-height: 25.6px;
        font-size: 16px;
    }
    .close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        img{
            cursor: pointer;
            width: 16px;
        }
    }
}

@media (min-width: 870px) {
    .fixed_container{
        position: fixed;
        width: 420px;
        height: 80px;
        left: 50%;
        bottom: 6rem;
        border-radius: 0 0 10px 10px;
        margin-left: -210px; /*half the width*/
        box-shadow: 0px 0px 50px #DAE1EF;
    }

    .container{
        .header{
            position: fixed;
            width: 420px;
            left: 50%;
            top: 6rem;
            border-radius: 10px 10px 0 0;
            margin-left: -210px; /*half the width*/
            padding: 2rem;
            padding-top: 6rem;
            margin-bottom: 1rem;
            position: fixed;
            z-index: 999999;
            background-color: #2E83F8;
        }
    }
    }