.validate_button{
    background-color: white;
    color:#2E83F8;
    border-radius: 100px;
    padding: .4rem 1rem;
    margin-right: 1rem;
}
.intervention{
    &:hover{
        background-color: whitesmoke;
    }
}
.container{
    width: 100%;
    height: auto;
    .flex_container{
    width: 100%;
    background-color: #2E83F8;
    color: white;
    padding: 1.5rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: #2e82f8d0;
    }
    .more_less_icons{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 15px;
        }
    }
    div{
        p{
        width: auto; 
        }  
    }
    }
    section{
        padding: 1.2rem 2rem;
        transition: height 0.3s ease-in;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .time{
            font-weight: bolder;
            font-size: 15px;
            width: 30%;
        }
        .direction{
            width: 70%;
            .flex_container_direction{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .5rem;
                .name{
                    img{
                        width: 30px;
                        margin-right: .5rem;
                    }
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    h5{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .arrow_container{
                img{

                    width: 6px;
                    height: 12px;
                }
            }
            p{
                font-size: 14px;
                line-height: 22px;
                width: 85%;
                max-width: 220px;
            }
        }
    }
}

@media (max-width: 1025px) and (min-width: 768px){
    .container{
        section{
          .time{
            width: 20%;
          }
          .direction{
            width: 80%;
          }
        }
    }
}