input[type=text], input[type=button], button {
    -webkit-appearance: none !important;
}
.form_container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 380px;
    height: 100vh;
    img{
        width: 150px;
        height: 150px;
        margin: 3rem auto;
    }
    .input{
        margin: 0 auto;
        margin-top: 2rem;
        width: 80%;
        max-width: 380px;
    }
    .blue_button{
        margin: 2rem auto;
        background-color: #4284F3;
        border-radius: 50px;
        width: 45%;
        max-width: 160px;
        height: 50px;
        color: white;
        outline: none;
        border: none;
        &:hover{
            background-color: #4283f39b;
        }
    }
    .recuperar{
        margin: 0;
        text-align: justify;
    }
}

@media (max-width: 1025px) and (min-width: 768px){
    .form_container{
        height: 70vh;
    }
    .login_container{
        .login_img{
            width: 100vw;
            height: auto;
        }
        .login_form{
            margin-top: 0;
        }
    }
}

@media (min-width: 1026px){
    .form_container{
        min-width: 320px;
    }
    .login_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>img{
            height: 100vh;
        }
        .login_form{
            margin: 0 auto;
        }
    }
}