.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    div{
        p{
            margin: 1rem 0;
            line-height: 25px;
        }
    }
}