.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    img{
        width: 40px;
        height: auto;
    }
    .logout{
        cursor: pointer;
        color: #2E83F8;        ;
        &:hover{
            opacity: 0.8;
        }
    }
}

@media (min-width: 1025px) {
    .container{
        position: absolute;
        top: 0;
    }
}