.container{
        height: 100vh;
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 6rem;
        .goback{
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: #2E83F8;
            font-size: 13px;
            font-weight: bolder;
        }
        .dropdown_container{
            padding-top: 3rem;
            width: 350px;
            p{
                margin: 2rem 0;
            }
        }
        .agenda{
            h4{
                margin-bottom: 1rem;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                width: 50%;
                color: gray;
                font-size: 25px;
                text-align: center;
                }
            }
        }
}
